<div id="pin-show" class="row">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="pin_image">
        <%= image_tag(@pin.photo.to_s, alt: 'Image', width: '100%') if @pin.photo? %>
        </div>
      <div class="panel-body">
        <h1><%= @pin.title %></h1>
        <p><%= @pin.description %></p>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
            <% if user_signed_in? %>
              <p>Submitted by <%= @pin.user.email %></p>
            <% end %>
          </div>
          <div class="col-md-6-">
            <div class="btn-group pull-right">
              <%= link_to like_pin_path(@pin), method: :put, class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-heart">
              <%= @pin.get_upvotes.size %>
            </span>
            <% end %>
            <%= link_to "Edit Pin", edit_pin_path %>
            <%= link_to "Delete Pin", pin_path, method: :delete, data: { confirm: "Are you sure?" } %>
            <%= link_to "Back to Home", root_path %>
            </div>
            <br>
            <br>
            <div class="text-center">
              <button type="button" class="btn btn-primary" id="button-modal">Add a New Comment
               <%#= link_to "Add A New Comment", new_pin_comment_path(@pin) %>
             </button>
             <!--  , id: "modal-btn", class: "btn btn-primary", data-toggle: "modal", data-target: "#exampleModal" %> -->
           </div>


           <!-- Modal -->


<!-- this is a modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="form-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header panel-heading">
        <h3 class="modal-title" id="exampleModalLabel">New Comment</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     <!--  body of the modal -->

     <div class="col-md-6 col-md-offset-3 ">
      <div class="row">
        <div class="panel panel-default">
          <div class="">
          </div>
          <div class="panel-body">
            <%= render 'comments/form' %>
          </div>
        </div>
      </div>
    </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



          <!-- end of modal -->



              <% unless @comments.nil? %>
                <% @comments.each do |comment| %>
                <p> <%= comment.description %> - <em><%= comment.user.email %> </em> </p>
                <div class="btn-group pull-right">
                <%  if current_user == comment.user %>
                  <%= link_to "Edit",  edit_comment_path, class: "btn-sm btn-primary" %>
                  <%= link_to "Delete",  comment_path(comment), class: "btn-sm btn-primary" %>
                  <% end %>
                <% end %>
                </div>
              <% end %>

          </div>
        </div>
      </div>
      </div>
      <br>
    </div>
  </div>
</div>
